*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{display: block;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
body{
    padding:0;
    margin:0;
    font-family: "Anton", sans-serif;
    color: black;
    font-size: 16px;
}
section{
    padding-top: 113px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header{
    background: url(../img/header-bg.jpg) no-repeat center top / cover;
}
header a {
    color: white;
}
.logo{
    margin-right: 69px;
}
.menu{
    display: flex;

}
.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.menu li{
    margin-right: 40px;
}
.tel{
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}
.nav{
    display:flex ;
    align-items:center ;
    padding-top: 57px;
}
.offer{
    text-transform:uppercase ;
    margin-top: 216px;
    color: white;
}
.offer p{
    font-size: 30px;
    letter-spacing: 0.1em;
} 
.offer h1{
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.02em;
    text-shadow: 10px 10px 30px #f00;
}
.btn{
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 238px;
    transition: all 0.5s ease;
}
.btn:hover{
    background: #fff;
    color: #000;
}
h2{
    margin-bottom:58px;
    font-size: 50px;
}
.description{
    display: flex;
    justify-content: space-between;

}
.description p {
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}
.desc-right,.desc-left{
    width: 567px;
}
.gallery{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}
.footer-text{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 114px 0;
}
.footer-text p {
    margin-right:67px ;
}

